body{
  text-align: center;
  
}
nav{
  font-size: 30px;
}
.v{
  font-size: 40px;
}
.home{
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.h{
  padding-top: 3%;
}
.header{
  text-decoration-line: none;
  table-layout: auto;
  font-style: italic;
  font-size: 50px;
  
}
.header {
  width: 100px;
  height: 100px;
  background-color: rgba(18, 6, 71, 0.568);
  animation-name: example;
  animation-duration: 15s;
}

@keyframes example {
  0%   {background-color:rgba(243, 59, 3, 0.97);}
  25%  {background-color: rgba(73, 247, 29, 0.97);}
  50%  {background-color: rgba(223, 100, 100, 0.97);}
  100% {background-color:rgba(245, 223, 22, 0.97);}
}