body{
  text-align: center;
  
}
.home{
  background-image: url("images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.h{
  padding-top: 3%;
}
.header{
  text-decoration-line: none;
  table-layout: auto;
  font-style: italic;
  font-size: 50px;
  
}
.header {
  width: 100px;
  height: 100px;
  background-color: rgba(243, 91, 3);
  animation-name: example;
  animation-duration: 20s;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}