body{
  text-align: center;
  background-color: rgb(1, 1, 1);
  
}
nav{
  font-size: 30px;
}
.v{
  font-size: 40px;
}
.home1{
  background-image: url("images/home3.jpg");
  background-size: cover;
}
.h{
  padding-top: 3%;
}
.header{
  text-decoration-line: none;
  table-layout: auto;
  font-style: italic;
  font-size: 50px;
  
}
.header,.now {
  color: whitesmoke;
  width: 100px;
  height: 100px;
  background-color: rgba(242, 3, 250, 0.30);
  animation-name: example;
  animation-duration: 15s;
}
.var{
  padding-top: 5%;
}

@keyframes example {
  0%   {background-color:rgba(243, 59, 3, 0.29);}
  25%  {background-color: rgba(73, 247, 29, 0.27);}
  50%  {background-color: rgba(100, 168, 223, 0.29);}
  100% {background-color:rgba(245, 223, 22, 0.29);}
}
.p{
  background-color: rgb(5, 5, 5);
  box-shadow: rgba(8, 8, 8, 0.29);
  color: rgb(21, 177, 0);
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 25px;
  width: 100px;
  height: 100px;
  background-color: rgba(242, 3, 250, 1.0);
  animation-name: example;
  animation-duration: 15s;
}

@keyframes example {
  0%   {background-color:rgba(243, 59, 3, 0.9);}
  25%  {background-color: rgba(73, 247, 29, 0.7);}
  50%  {background-color: rgba(100, 168, 223, 0.9);}
  100% {background-color:rgba(245, 223, 22, 0.9);}
}
.p:hover{
  background-color: rgba(248, 204, 6, 1);
}
.p2{
  background-color: rgb(5, 5, 5);
  box-shadow: rgba(8, 8, 8, 0.29);
  color: rgb(21, 177, 0);
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 25px;
  width: 100px;
  height: 100px;
  background-color: rgba(242, 3, 250, 1.0);
  animation-name: example;
  animation-duration: 15s;
}

@keyframes example {
  0%   {background-color:rgba(243, 59, 3, 0.9);}
  25%  {background-color: rgba(73, 247, 29, 0.7);}
  50%  {background-color: rgba(100, 168, 223, 0.9);}
  100% {background-color:rgba(245, 223, 22, 0.97);}
}
.p2:hover{
  background-color: rgba(248, 204, 6, 1);
}